# 1번) 결측치 제거

In [3]:
import numpy as np
import pandas as pd

df=pd.read_csv('C:\\Users\이승아\Documents\GH\에듀 세션\Session 02. 데이터 전처리\Y2019Q4.csv', header=0, engine='python')
df.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2019040101,0.002,0.4,0.037,0.022,27.0,16.0,서울특별시 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2019040102,0.003,0.4,0.037,0.021,25.0,15.0,서울특별시 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2019040103,0.003,0.4,0.041,0.016,23.0,13.0,서울특별시 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2019040104,0.002,0.5,0.030,0.025,22.0,12.0,서울특별시 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2019040105,0.002,0.4,0.032,0.023,23.0,12.0,서울특별시 중구 덕수궁길 15

In [4]:
#실전에서 칼럼네임이 한글이면 깨지는 경우가 많습니다. 영어로 변경해봅시다
df=df.rename(index=str, columns={'지역':"SGG","측정소코드":"id","측정소명":"id_name","측정일시":"date","주소":"add"})
df.tail()

,SGG,망,id,id_name,date,SO2,CO,O3,NO2,PM10,PM25,add
314334,인천 옹진군,국가배경농도,831492,백령도,2019043020,0.0017,0.2,0.054,0.0091,16.0,12.0,인천 옹진군 백령면 연화리
314335,인천 옹진군,국가배경농도,831492,백령도,2019043021,0.0013,0.2,0.056,0.0066,19.0,10.0,인천 옹진군 백령면 연화리
314336,인천 옹진군,국가배경농도,831492,백령도,2019043022,0.0012,0.2,0.049,0.0080,21.0,9.0,인천 옹진군 백령면 연화리
314337,인천 옹진군,국가배경농도,831492,백령도,2019043023,0.0010,0.2,0.048,0.0063,21.0,15.0,인천 옹진군 백령면 연화리
314338,인천 옹진군,국가배경농도,831492,백령도,2019043024,0.0010,0.2,0.046,0.0052,22.0,11.0,인천 옹진군 백령면 연화리

In [5]:
#필요한 컬럼들만 뽑아냅시다(참고: PM10은 미세먼지, PM25는 초미세먼지를 의미)
cols=['SGG','id','date','SO2','CO','PM10','PM25']
df2=df[cols]
df2.tail()

           SGG      id        date     SO2   CO  PM10  PM25
314334  인천 옹진군  831492  2019043020  0.0017  0.2  16.0  12.0
314335  인천 옹진군  831492  2019043021  0.0013  0.2  19.0  10.0
314336  인천 옹진군  831492  2019043022  0.0012  0.2  21.0   9.0
314337  인천 옹진군  831492  2019043023  0.0010  0.2  21.0  15.0
314338  인천 옹진군  831492  2019043024  0.0010  0.2  22.0  11.0

In [6]:
#결측치 확인
df2.isna().sum()

SGG         0
id          0
date        0
SO2     12825
CO      13450
PM10    11758
PM25    30374
dtype: int64

In [7]:
df2['SO2']=df2['SO2'].fillna(df2['SO2'].mean())
df2['CO']=df2['CO'].fillna(df2['CO'].mean())
df2.isna().sum()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

SGG         0
id          0
date        0
SO2         0
CO          0
PM10    11758
PM25    30374
dtype: int64

In [8]:
df2=df2.dropna(subset=['PM10','PM25'])
df2.isna().sum()

SGG     0
id      0
date    0
SO2     0
CO      0
PM10    0
PM25    0
dtype: int64

# 2번) 새로운 칼럼 생성

In [9]:
#'date' 칼럼의 타입을 datetime으로 설정하고, 이를 인덱스로 설정해봅시다.
##'date'를 연-월-일 형식으로 바꿔봅시다. 마지막 2자리는 제외(마지막 2자리는 hour)
s_date=df2.date.astype(str)
s_date2=s_date.str[:-2]
df2['DATE']=pd.to_datetime(s_date2)
df2.head()

     SGG      id        date    SO2   CO  PM10  PM25       DATE
0  서울 중구  111121  2019040101  0.002  0.4  27.0  16.0 2019-04-01
1  서울 중구  111121  2019040102  0.003  0.4  25.0  15.0 2019-04-01
2  서울 중구  111121  2019040103  0.003  0.4  23.0  13.0 2019-04-01
3  서울 중구  111121  2019040104  0.002  0.5  22.0  12.0 2019-04-01
4  서울 중구  111121  2019040105  0.002  0.4  23.0  12.0 2019-04-01

In [10]:
df2['hour']=s_date.str[-2:]
df2.tail()

           SGG      id        date     SO2   CO  PM10  PM25       DATE hour
314334  인천 옹진군  831492  2019043020  0.0017  0.2  16.0  12.0 2019-04-30   20
314335  인천 옹진군  831492  2019043021  0.0013  0.2  19.0  10.0 2019-04-30   21
314336  인천 옹진군  831492  2019043022  0.0012  0.2  21.0   9.0 2019-04-30   22
314337  인천 옹진군  831492  2019043023  0.0010  0.2  21.0  15.0 2019-04-30   23
314338  인천 옹진군  831492  2019043024  0.0010  0.2  22.0  11.0 2019-04-30   24

# 3번) 종합문제

In [11]:
df3=df2[df2.PM25>35]

In [12]:
df3.tail()

           SGG      id        date     SO2   CO  PM10  PM25       DATE hour
313978  인천 옹진군  831492  2019041524  0.0007  0.3  64.0  37.0 2019-04-15   24
314189  인천 옹진군  831492  2019042419  0.0013  0.6  46.0  42.0 2019-04-24   19
314190  인천 옹진군  831492  2019042420  0.0012  0.6  56.0  52.0 2019-04-24   20
314191  인천 옹진군  831492  2019042421  0.0014  0.5  69.0  49.0 2019-04-24   21
314192  인천 옹진군  831492  2019042422  0.0013  0.4  85.0  38.0 2019-04-24   22

In [13]:
df3=df3[['SGG','PM25','hour']]
df3.tail()

           SGG  PM25 hour
313978  인천 옹진군  37.0   24
314189  인천 옹진군  42.0   19
314190  인천 옹진군  52.0   20
314191  인천 옹진군  49.0   21
314192  인천 옹진군  38.0   22

In [31]:
df3.head(20)

       SGG  PM25 hour
104  서울 중구  38.0   09
105  서울 중구  42.0   10
106  서울 중구  43.0   11
269  서울 중구  36.0   06
270  서울 중구  36.0   07
271  서울 중구  37.0   08
272  서울 중구  38.0   09
273  서울 중구  37.0   10
288  서울 중구  39.0   01
289  서울 중구  42.0   02
290  서울 중구  42.0   03
291  서울 중구  44.0   04
292  서울 중구  45.0   05
293  서울 중구  44.0   06
294  서울 중구  41.0   07
295  서울 중구  42.0   08
296  서울 중구  46.0   09
297  서울 중구  41.0   10
298  서울 중구  39.0   11
513  서울 중구  36.0   10

In [18]:
type(df3['hour'])

pandas.core.series.Series

In [34]:
df3.groupby(['SGG', 'hour']).count().sort_values(by = 'PM25', ascending = False)

              PM25
SGG     hour
경기 부천시  10      68
        09      68
        08      61
충북 청주시  10      55
경기 부천시  11      54
        07      53
충북 청주시  09      51
경기 부천시  06      50
        05      50
충남 아산시  10      50
경기 화성시  09      48
경기 부천시  02      48
        03      48
전북 익산시  10      47
경기 부천시  24      47
충남 아산시  09      47
경기 부천시  04      47
경기 시흥시  09      46
경기 부천시  01      46
충북 청주시  08      45
경기 부천시  12      44
경남 창원시  09      44
충남 아산시  11      44
경기 고양시  10      43
충남 아산시  08      43
경기 화성시  10      43
전북 익산시  09      43
경기 부천시  13      42
경기 시흥시  08      42
경기 평택시  09      42
...            ...
울산 중구   08       1
        10       1
경남 거제시  08       1
        07       1
인천 강화군  04       1
        13       1
        14       1
        17       1
        19       1
        20       1
        21       1
        22       1
        23       1
경남 거제시  05       1
경기 파주시  17       1
경남 거제시  04       1
        03       1
경기 하남시  21       1
        18       1
        12       1
        11       1
        04       1
        03       1
        01       1
경기 포천시  20       1
        19       1
        17       1
경기 파주시  20       1
        19       1
서울 강북구  06       1

[4536 rows x 1 columns]

In [23]:
df3.groupby(df3.SGG)
df3.head(15)
df3_sorted.values()

       SGG  PM25 hour
104  서울 중구  38.0   09
105  서울 중구  42.0   10
106  서울 중구  43.0   11
269  서울 중구  36.0   06
270  서울 중구  36.0   07
271  서울 중구  37.0   08
272  서울 중구  38.0   09
273  서울 중구  37.0   10
288  서울 중구  39.0   01
289  서울 중구  42.0   02
290  서울 중구  42.0   03
291  서울 중구  44.0   04
292  서울 중구  45.0   05
293  서울 중구  44.0   06
294  서울 중구  41.0   07

In [171]:
df4=df3[['SGG','hour','SGG_group']]
df4.head()

KeyError: "['SGG_group'] not in index"